In [3]:
# ðŸ§¹ Project 1: Data Cleaning & Preprocessing
# CSCD613 - Machine Learning with Big Data Analytics (Group 10)
# -------------------------------------------------------------
# Objective:
#   Prepare and clean the Home Credit Default Risk dataset (application_train.csv)
#   for use in machine learning models.
#
# Main Tasks:
#   1. Import and explore the dataset
#   2. Check for missing values and duplicates
#   3. Handle missing data appropriately
#   4. Encode categorical features
#   5. Treat outliers
#   6. Normalize or scale numerical features
#   7. Export the cleaned dataset for use in later stages

# -------------------------------------------------------------
# Step 1: Import Libraries
# -------------------------------------------------------------

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Set display options
pd.set_option('display.max_columns', 100)

# -------------------------------------------------------------
# Step 2: Load the Dataset
# -------------------------------------------------------------

# Load dataset (ensure it's stored in the 'data/' folder)
data = pd.read_csv('data/application_train.csv')

# Display shape and first few rows
print("Dataset shape:", data.shape)
print("\nPreview of dataset:")
print(data.head())

# -------------------------------------------------------------
# Step 3: Basic Data Exploration
# -------------------------------------------------------------

# Overview of dataset
print("\nDataset Info:")
print(data.info())

# Summary statistics for numeric columns
print("\nSummary Statistics:")
print(data.describe().T)

# Check target variable distribution
print("\nTarget Variable Distribution (%):")
print(data['TARGET'].value_counts(normalize=True) * 100)

# -------------------------------------------------------------
# Step 4: Check for Missing Values
# -------------------------------------------------------------

# Count missing values per column
missing = data.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)
missing_df = pd.DataFrame({
    'Missing Values': missing,
    'Percent (%)': (missing / len(data)) * 100
})

print("\nTop 15 columns with missing values:")
print(missing_df.head(15))

# -------------------------------------------------------------
# Step 5: Handle Missing Values
# -------------------------------------------------------------

# Drop columns with more than 40% missing values
threshold = 0.4 * len(data)
data = data.loc[:, data.isnull().sum() < threshold]

# Fill numeric columns with median values
num_cols = data.select_dtypes(include=[np.number]).columns
data[num_cols] = data[num_cols].fillna(data[num_cols].median())

# Fill categorical columns with mode
cat_cols = data.select_dtypes(include=['object']).columns
data[cat_cols] = data[cat_cols].fillna(data[cat_cols].mode().iloc[0])

print("\nMissing values handled. New shape:", data.shape)

# -------------------------------------------------------------
# Step 6: Encode Categorical Features
# -------------------------------------------------------------

# Label encode binary categorical features
le = LabelEncoder()
for col in cat_cols:
    if data[col].nunique() == 2:
        data[col] = le.fit_transform(data[col])

# One-hot encode remaining categorical features
data = pd.get_dummies(data, drop_first=True)

print("\nData shape after encoding:", data.shape)

# -------------------------------------------------------------
# Step 7: Handle Outliers (Example)
# -------------------------------------------------------------

# Example: handle outliers in AMT_INCOME_TOTAL using IQR method
if 'AMT_INCOME_TOTAL' in data.columns:
    Q1 = data['AMT_INCOME_TOTAL'].quantile(0.25)
    Q3 = data['AMT_INCOME_TOTAL'].quantile(0.75)
    IQR = Q3 - Q1
    upper_limit = Q3 + 1.5 * IQR
    lower_limit = Q1 - 1.5 * IQR

    # Cap outliers
    data['AMT_INCOME_TOTAL'] = np.where(
        data['AMT_INCOME_TOTAL'] > upper_limit, upper_limit,
        np.where(data['AMT_INCOME_TOTAL'] < lower_limit, lower_limit, data['AMT_INCOME_TOTAL'])
    )

    print("\nOutliers in AMT_INCOME_TOTAL handled.")

# -------------------------------------------------------------
# Step 8: Scale or Normalize Data
# -------------------------------------------------------------

scaler = StandardScaler()

# Select key numeric columns for scaling (only if present)
num_features = [col for col in ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE'] if col in data.columns]
if num_features:
    data[num_features] = scaler.fit_transform(data[num_features])
    print("\nSelected numeric features scaled.")

# -------------------------------------------------------------
# Step 9: Save Cleaned Dataset
# -------------------------------------------------------------

data.to_csv('data/cleaned_application_train.csv', index=False)
print("\nCleaned dataset saved successfully at: data/cleaned_application_train.csv")

# -------------------------------------------------------------
# Step 10: Quick Visualization
# -------------------------------------------------------------

plt.figure(figsize=(6, 4))
sns.countplot(x='TARGET', data=data)
plt.title("Loan Default Distribution (TARGET)")
plt.xlabel("Target (0 = No Default, 1 = Default)")
plt.ylabel("Count")
plt.show()

# -------------------------------------------------------------
# Summary:
# -------------------------------------------------------------
# - Loaded and explored dataset
# - Identified and handled missing values
# - Encoded categorical variables
# - Handled outliers
# - Scaled numeric features
# - Saved cleaned data for next stage
#
# Next notebook â†’ project1_02_feature_engineering.ipynb

Dataset shape: (307511, 122)

Preview of dataset:
   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

   AMT_GOODS_PRICE NAME_TYPE_SUITE NAME_INCOME_TYPE  \
0         351000.0   Unaccompanied          Working
1        1129500.0          Family    State servant
2         135000.0   Unaccompanied          Working
3         297000.0   Unaccompanied          Working
4         513000.0   Unaccompanied          Working

             NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  \
0  Secondary / secondary special  Single / not married  House / apartment
1               Higher education               Married  House / apartment
2  Secondary / secondary special  Single / not married  House / apartment
3  Secondary / secondary special        Civil marriage  House / apartment
4  Secondary / secondary special  Single / not married  House / apartment

   REGION_POPULATION_RELATIVE  DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  \
0                    0.018801       -9461           -637            -3648.0
1                    0.003541      -16765          -1188            -1186.0
2                    0.010032      -19046           -225            -4260.0
3                    0.008019      -19005          -3039            -9833.0
4                    0.028663      -19932          -3038            -4311.0

   DAYS_ID_PUBLISH  OWN_CAR_AGE  FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  \
0            -2120          NaN           1               1                0
1             -291          NaN           1               1                0
2            -2531         26.0           1               1                1
3            -2437          NaN           1               1                0
4            -3458          NaN           1               1                0

   FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  CNT_FAM_MEMBERS  \
0                 1           1           0        Laborers              1.0
1                 1           1           0      Core staff              2.0
2                 1           1           0        Laborers              1.0
3                 1           0           0        Laborers              2.0
4                 1           0           0      Core staff              1.0

   REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  \
0                     2                            2
1                     1                            1
2                     2                            2
3                     2                            2
4                     2                            2

  WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  \
0                  WEDNESDAY                       10
1                     MONDAY                       11
2                     MONDAY                        9
3                  WEDNESDAY                       17
4                   THURSDAY                       11

   REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  \
0                           0                           0
1                           0                           0
2                           0                           0
3                           0                           0
4                           0                           0

   LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  \
0                            0                       0
1                            0                       0
2                            0                       0
3                            0                       0
4                            0                       0

   REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY       ORGANIZATION_TYPE  \
0                       0                        0  Business Entity Type 3
1                       0                        0                  School
2                       0                        0              Government
3                       0                        0  Business Entity Type 3
4                       1                        1                Religion

   EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3  APARTMENTS_AVG  BASEMENTAREA_AVG  \
0      0.083037      0.262949      0.139376          0.0247            0.0369
1      0.311267      0.622246           NaN          0.0959            0.0529
2           NaN      0.555912      0.729567             NaN               NaN
3           NaN      0.650442           NaN             NaN               NaN
4           NaN      0.322738           NaN             NaN               NaN

   YEARS_BEGINEXPLUATATION_AVG  YEARS_BUILD_AVG  COMMONAREA_AVG  \
0                       0.9722           0.6192          0.0143
1                       0.9851           0.7960          0.0605
2                          NaN              NaN             NaN
3                          NaN              NaN             NaN
4                          NaN              NaN             NaN

   ELEVATORS_AVG  ...  APARTMENTS_MEDI  BASEMENTAREA_MEDI  \
0           0.00  ...           0.0250             0.0369
1           0.08  ...           0.0968             0.0529
2            NaN  ...              NaN                NaN
3            NaN  ...              NaN                NaN
4            NaN  ...              NaN                NaN

   YEARS_BEGINEXPLUATATION_MEDI  YEARS_BUILD_MEDI  COMMONAREA_MEDI  \
0                        0.9722            0.6243           0.0144
1                        0.9851            0.7987           0.0608
2                           NaN               NaN              NaN
3                           NaN               NaN              NaN
4                           NaN               NaN              NaN

   ELEVATORS_MEDI  ENTRANCES_MEDI  FLOORSMAX_MEDI  FLOORSMIN_MEDI  \
0            0.00          0.0690          0.0833          0.1250
1            0.08          0.0345          0.2917          0.3333
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

   LANDAREA_MEDI  LIVINGAPARTMENTS_MEDI  LIVINGAREA_MEDI  \
0         0.0375                 0.0205           0.0193
1         0.0132                 0.0787           0.0558
2            NaN                    NaN              NaN
3            NaN                    NaN              NaN
4            NaN                    NaN              NaN

   NONLIVINGAPARTMENTS_MEDI  NONLIVINGAREA_MEDI  FONDKAPREMONT_MODE  \
0                    0.0000                0.00    reg oper account
1                    0.0039                0.01    reg oper account
2                       NaN                 NaN                 NaN
3                       NaN                 NaN                 NaN
4                       NaN                 NaN                 NaN

   HOUSETYPE_MODE  TOTALAREA_MODE  WALLSMATERIAL_MODE  EMERGENCYSTATE_MODE  \
0  block of flats          0.0149        Stone, brick                   No
1  block of flats          0.0714               Block                   No
2             NaN             NaN                 NaN                  NaN
3             NaN             NaN                 NaN                  NaN
4             NaN             NaN                 NaN                  NaN

   OBS_30_CNT_SOCIAL_CIRCLE  DEF_30_CNT_SOCIAL_CIRCLE  \
0                       2.0                       2.0
1                       1.0                       0.0
2                       0.0                       0.0
3                       2.0                       0.0
4                       0.0                       0.0

   OBS_60_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  \
0                       2.0                       2.0                 -1134.0
1                       1.0                       0.0                  -828.0
2                       0.0                       0.0                  -815.0
3                       2.0                       0.0                  -617.0
4                       0.0                       0.0                 -1106.0

   FLAG_DOCUMENT_2  FLAG_DOCUMENT_3  FLAG_DOCUMENT_4  FLAG_DOCUMENT_5  \
0                0                1                0                0
1                0                1                0                0
2                0                0                0                0
3                0                1                0                0
4                0                0                0                0

   FLAG_DOCUMENT_6  FLAG_DOCUMENT_7  FLAG_DOCUMENT_8  FLAG_DOCUMENT_9  \
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                1                0

   FLAG_DOCUMENT_10  FLAG_DOCUMENT_11  FLAG_DOCUMENT_12  FLAG_DOCUMENT_13  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

  FLAG_DOCUMENT_14 FLAG_DOCUMENT_15  FLAG_DOCUMENT_16 FLAG_DOCUMENT_17  \
0                0                0                 0                0
1                0                0                 0                0
2                0                0                 0                0
3                0                0                 0                0
4                0                0                 0                0

  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
0                0                 0                 0                 0
1                0                 0                 0                 0
2                0                 0                 0                 0
3                0                 0                 0                 0
4                0                 0                 0                 0

   AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         1.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0

[5 rows x 122 columns]

SyntaxError: 'return' outside function (3463944684.py, line 42)